*{
    margin: 0px;
    padding: 0px;
}
#nav-bar{
    background-color: black;
    /* height: 50px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
#nav-bar h2 span{
    color: orange;
    margin-right: 5px;
}
#nav-bar h2{
    color: white;
    margin-left: 10px;
}
#nav-bar nav{
    display: flex;
    padding: 10px 0;
    flex-direction: row;
}
#nav-bar nav a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    margin-right: 30px;
}
/* Banner section */
#Main-content{
    background: white url('img/group-bg.jpg') no-repeat scroll center;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
#Main-content #Main-content-wrapper{
    /* border: 2px solid blue; */
    display: flex;
    /* position: relative; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: inherit;
    background-color: rgba(0,0,0,0.4);
}
#Main-content-wrapper h1{
    font-size: 4em;
}
#Main-content-wrapper p{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
#Main-content-wrapper button{
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.432);
    color: orange;
    font-size: 20px;
    outline: none;
    border: 2px solid white;
    border-radius: 20px;
}
#Main-content-wrapper button:hover{
 background-color: orange;
 color: white; 
 box-shadow: 0 3 10px white;
}

footer{
    /* border-radius:  0px 0px 45px 45px; */
    background-color: black;
    color: #fff;
    /* box-shadow: 0 0 10px blueviolet; */
    text-align: center; 
    padding: 10px 0px;
    line-height: 30px;
    color: white;
}


@media  (max-width: 700px) {
    #nav-bar{
     /* height: 80px; */
     flex-direction: column;
     align-items: center;
     justify-content: center;
    
    }
    #nav-bar h2{
        margin-top: 30px;
    }
    #nav-bar nav{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    }
    #Main-content-wrapper h1{
        font-size: 1.5em;
    }
    #Main-content-wrapper p{
        font-size: 1em;
    }
    #Main-content-wrapper button{
        padding: 7px 12px;
        font-size: 1em;
    }
}